language: python
python:
  - "3.5"
  - "3.6"
  - "3.7-dev"  # 3.7 development branch, need to see this fixed https://github.com/yaml/pyyaml/issues/126
install:
  - pip install -e .
  # dev/testing stuff
  - pip install -r requirements.txt
script:
  - py.test
after_success:
  - coveralls
